build
.scon*
config.log
python/alpenglow/__pycache__
python/alpenglow/cpp/__pycache__
python/.ipynb_checkpoints
python/.cache
.cache
.parallel
alpenglow.egg-info
python/alpenglow/cpp.*.so
recSys/cpp/bin
recSys/cpp/dep/*
!recSys/cpp/dep/empty