build
.scon*
config.log
python/alpenglow/__pycache__
python/alpenglow/cpp/__pycache__
python/.ipynb_checkpoints
python/.cache
.cache
.parallel
alpenglow.egg-info
python/alpenglow/cpp.*.so
cpp/bin
cpp/dep/*
!cpp/dep/empty
python/test_alpenglow/tmp/*
.pytest_cache